<% include ../partials/header %>

<div class="jumbotron">
	<h2>Link Shortener</h2>
	<p><b>It shortens your links</b></p>
	<p><i>Made with sequelize from sequelizejs.com</i> <br> 
	Sequelize is a promise-based ORM for Node.js and io.js. It supports the dialects PostgreSQL, MySQL, SQLite and MSSQL and features solid transaction support, relations, read replication and more.<br> <br> 
	<b> Installation: </b><br> 
	Sequelize is available via NMP.<br> 
	<ul >
		<li>npm install --save sequelize</li>
		<li>npm install --save sqlite3</li>
		<li>(or anothe DB if required)</li>
	</ul>
	</p>
</div>

<% include ../pages/landing/form %>

<% include ../partials/footer %>
